<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SECURE AND IMPERCEPTIBLE BLIND MEDICAL IMAGE WATERMARKING FOR IOMT APPLICATIONS</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>SECURE AND IMPERCEPTIBLE BLIND MEDICAL IMAGE WATERMARKING FOR IOMT APPLICATIONS</h1>
        <div class="form-container">
            <form id="embed-form" action="/embed_watermark" method="post" enctype="multipart/form-data">
                <div class="upload-section">
                    <label for="host_image">Upload Host Image:</label>
                    <input type="file" id="host_image" name="host_image" required>
                    <div id="host_image_preview"></div>
                </div>
                <div class="upload-section">
                    <label for="watermark">Upload Watermark Image:</label>
                    <input type="file" id="watermark" name="watermark" required>
                    <div id="watermark_preview"></div>
                </div>
                <input type="submit" value="Upload and Embed">
            </form>
        </div>
        <div class="info-section">
            <h2>Evaluation Metrics</h2>
            <p>The project will include a comparative analysis using metrics such as Peak Signal-to-Noise Ratio (PSNR) and Structural Similarity Index (SSIM) to quantify the quality of the watermarked images and extracted watermarks.</p>
                   </div>
    </div>
    <script src="static/js/scripts.js"></script>
</body>
</html>
